.style-div1{
    width: 2100px;
    margin: auto;
    padding-bottom: 20px;
    position: relative; 
    background-color: rgb(4, 78, 4);  
}

.logo-bali{
    font-size: 70px;
    font-weight: 800;
    float: left;
    font-family: Courier;
    color: white;
    margin-top: 20px;
    margin-left: 40px;
}

.menu-style{
    float: right;
    margin-top: 4.5px;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
}
nav ul li{
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: white;
    font-weight: bold;
    padding: 0px 25px 0px 25px;
    text-align: center;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}

#style-login{
    background-color: blue;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    margin-right: 20px;
}

#style-signup{
    background-color: blue;
    color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
    margin-right: 10px;
}

.imgg{
    height: 100px;
    margin-top: 10px;
    margin-bottom: -40px;
}

#style-login:hover{
    background-color: greenyellow;
    color: black;
}

#style-signup:hover{
    background-color: greenyellow;
    color: black;
}

/* LOGIN */
body{
    margin: 0;
    padding: 0;
    font-style: initial;
    background-image: linear-gradient(to right top, rgb(192, 192, 0), green);
    height: 100vh;
    overflow: hidden;
    font-family: 'Open Sans',sans-serif;
}

.login-style{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, .15);
    width: 400px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    padding: 100px 50px 100px 50px;
}
.login-style h1{
    text-align: center;
    padding: 20px 0px 100px 0px;
    letter-spacing: 7px;
    font-family: none;

}
.login-style form{
    padding: 0px 50px;
}
.form-login{
    position: relative;
    border-bottom: 2px  solid;
    margin: 30px 0px;
}
.form-login input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 5px;
    padding: 0 0px;
    height: 40px;
    font-size: 16px;
}
.label-style {
    position: absolute;
    top: -35%;
    left: 5px;
    font-size: larger;
}

.lp-style{
    margin-bottom: 30px;
    cursor: pointer;
    font-size: large;
}

.lp-style:hover{
    text-decoration: underline;
}

.submit-style{
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 200px;
    height: 50px;
    font-weight: bold;
}

.submit-style:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}

